In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('wats_mal.csv')

In [3]:
df.shape

(258373, 17)

In [4]:
df.max()

time                 3151705
router                    15
outport                    4
inport                     4
packet_address       0xffec0
packet_type                3
flit_id                    4
flit_type                  3
vnet                       4
vc                        19
src_ni                    31
src_router                15
dst_ni                    31
dst_router                15
enq_time             3151676
packet_address_id       2348
target                   mal
dtype: object

In [5]:
df.dtypes

time                  int64
router                int64
outport               int64
inport                int64
packet_address       object
packet_type           int64
flit_id               int64
flit_type             int64
vnet                  int64
vc                    int64
src_ni                int64
src_router            int64
dst_ni                int64
dst_router            int64
enq_time              int64
packet_address_id     int64
target               object
dtype: object

In [6]:
interval = 99
r0count = 0
r1count = 0
r2count = 0
r3count = 0
r4count = 0
r5count = 0
r6count = 0
r7count = 0
r8count = 0
r9count = 0
r10count = 0
r11count = 0
r12count = 0
r13count = 0
r14count = 0
r15count = 0
r0arr = []
r1arr = []
r2arr = []
r3arr = []
r4arr = []
r5arr = []
r6arr = []
r7arr = []
r8arr = []
r9arr = []
r10arr = []
r11arr = []
r12arr = []
r13arr = []
r14arr = []
r15arr = []
for index, row in df.iterrows():
    if row['time']<=interval:
        if row['router']==0:
            r0count+=1
        elif row['router']==1:
            r1count+=1
        elif row['router']==2:
            r2count+=1
        elif row['router']==3:
            r3count+=1
        elif row['router']==4:
            r4count+=1
        elif row['router']==5:
            r5count+=1
        elif row['router']==6:
            r6count+=1
        elif row['router']==7:
            r7count+=1
        elif row['router']==8:
            r8count+=1
        elif row['router']==9:
            r9count+=1
        elif row['router']==10:
            r10count+=1
        elif row['router']==11:
            r11count+=1
        elif row['router']==12:
            r12count+=1
        elif row['router']==13:
            r13count+=1
        elif row['router']==14:
            r14count+=1
        elif row['router']==15:
            r15count+=1
    else:
        r0arr.append(r0count)
        r1arr.append(r1count)
        r2arr.append(r2count)
        r3arr.append(r3count)
        r4arr.append(r4count)
        r5arr.append(r5count)
        r6arr.append(r6count)
        r7arr.append(r7count)
        r8arr.append(r8count)
        r9arr.append(r9count)
        r10arr.append(r10count)
        r11arr.append(r11count)
        r12arr.append(r12count)
        r13arr.append(r13count)
        r14arr.append(r14count)
        r15arr.append(r15count)
        if row['router']==0:
            r0count = 1
        else:
            r0count = 0
        if row['router']==1:
            r1count = 1
        else:
            r1count = 0
        if row['router']==2:
            r2count = 1
        else:
            r2count = 0
        if row['router']==3:
            r3count = 1
        else:
            r3count = 0
        if row['router']==4:
            r4count = 1
        else:
            r4count = 0
        if row['router']==5:
            r5count = 1
        else:
            r5count = 0
        if row['router']==6:
            r6count = 1
        else:
            r6count = 0
        if row['router']==7:
            r7count = 1
        else:
            r7count = 0
        if row['router']==8:
            r8count = 1
        else:
            r8count = 0
        if row['router']==9:
            r9count = 1
        else:
            r9count = 0
        if row['router']==10:
            r10count = 1
        else:
            r10count = 0
        if row['router']==11:
            r11count = 1
        else:
            r11count = 0
        if row['router']==12:
            r12count = 1
        else:
            r12count = 0
        if row['router']==13:
            r13count = 1
        else:
            r13count = 0
        if row['router']==14:
            r14count = 1
        else:
            r14count = 0
        if row['router']==15:
            r15count = 1
        else:
            r15count = 0
        interval+=100

In [7]:
df = pd.DataFrame(range(100,3151705,100), columns=["time_intervals"])

In [8]:
df

       time_intervals
0                 100
1                 200
2                 300
3                 400
4                 500
...               ...
31512         3151300
31513         3151400
31514         3151500
31515         3151600
31516         3151700

[31517 rows x 1 columns]

In [9]:
len(r0arr)

31517

In [10]:
df = df.assign(r0=r0arr)
df = df.assign(r1=r1arr)
df = df.assign(r2=r2arr)
df = df.assign(r3=r3arr)
df = df.assign(r4=r4arr)
df = df.assign(r5=r5arr)
df = df.assign(r6=r6arr)
df = df.assign(r7=r7arr)
df = df.assign(r8=r8arr)
df = df.assign(r9=r9arr)
df = df.assign(r10=r10arr)
df = df.assign(r11=r11arr)
df = df.assign(r12=r12arr)
df = df.assign(r13=r13arr)
df = df.assign(r14=r14arr)
df = df.assign(r15=r15arr)

In [11]:
df['target']=0

In [12]:
df.to_csv('wat-mal-time.csv',index=False)