In [50]:
import pandas as pd

In [51]:
df = pd.read_csv('wat-good.csv')
df = df.loc[df['router'] == 1]
df = df.drop(columns=['router'])
df.to_csv('wat-r1-good.csv',index=False)

In [52]:
df = pd.read_csv('wat-r1-good.csv')
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,hop_count,current_hop,hop_percentage,waiting_time
0,11,2,4,0,0,3,2,8,0,0,23,7,0,4,1,0.250000,8
1,83,4,2,3,0,0,4,16,18,2,0,0,0,2,1,0.500000,9
2,84,4,2,3,1,1,4,16,18,2,0,0,0,2,1,0.500000,10
3,85,4,2,3,2,1,4,16,18,2,0,0,0,2,1,0.500000,11
4,86,4,2,3,3,1,4,16,18,2,0,0,0,2,1,0.500000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50096,3251158,2,4,4,1,1,2,8,0,0,22,6,10024,3,1,0.333333,15
50097,3251165,2,4,4,2,1,2,8,0,0,22,6,10024,3,1,0.333333,22
50098,3251172,2,4,4,3,1,2,8,0,0,22,6,10024,3,1,0.333333,29
50099,3251179,2,4,4,4,2,2,8,0,0,22,6,10024,3,1,0.333333,36
50100,3251180,2,4,0,0,3,2,9,0,0,22,6,10025,3,1,0.333333,36

In [53]:
timearr = []
interval = 99
count = 0
for index, row in df.iterrows():
    if row["time"]<=interval:
        count+=1
    else:
        timearr.append([interval+1,count])
        count=1
        interval+=100
timearr.append([interval+1,count])

In [54]:
countarr = []
maxarr = []
for i in range(len(timearr)):
    for cnt in range(timearr[i][1],0,-1):
        countarr.append(cnt)
        maxarr.append(timearr[i][1])
print(len(countarr))

50101

In [55]:
df = df.assign(pkt_count=countarr)
df = df.assign(pkt_max=maxarr)
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,hop_count,current_hop,hop_percentage,waiting_time,pkt_count,pkt_max
0,11,2,4,0,0,3,2,8,0,0,23,7,0,4,1,0.250000,8,6,6
1,83,4,2,3,0,0,4,16,18,2,0,0,0,2,1,0.500000,9,5,6
2,84,4,2,3,1,1,4,16,18,2,0,0,0,2,1,0.500000,10,4,6
3,85,4,2,3,2,1,4,16,18,2,0,0,0,2,1,0.500000,11,3,6
4,86,4,2,3,3,1,4,16,18,2,0,0,0,2,1,0.500000,12,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50096,3251158,2,4,4,1,1,2,8,0,0,22,6,10024,3,1,0.333333,15,5,12
50097,3251165,2,4,4,2,1,2,8,0,0,22,6,10024,3,1,0.333333,22,4,12
50098,3251172,2,4,4,3,1,2,8,0,0,22,6,10024,3,1,0.333333,29,3,12
50099,3251179,2,4,4,4,2,2,8,0,0,22,6,10024,3,1,0.333333,36,2,12
50100,3251180,2,4,0,0,3,2,9,0,0,22,6,10025,3,1,0.333333,36,1,12

In [56]:
#df["packet_types"] = df["packet_type"]
#df=pd.get_dummies(df, prefix=['outport', 'inport', 'packet_type'], columns=['outport', 'inport','packet_type'])

In [57]:
df.dtypes

time                int64
outport             int64
inport              int64
packet_type         int64
flit_id             int64
flit_type           int64
vnet                int64
vc                  int64
src_ni              int64
src_router          int64
dst_ni              int64
dst_router          int64
pkt_chuck           int64
hop_count           int64
current_hop         int64
hop_percentage    float64
waiting_time        int64
pkt_count           int64
pkt_max             int64
dtype: object

In [58]:
#df['inport_1'] = 0
#df['inport_3'] = 0
#df['outport_3'] = 0

In [59]:
df['target'] = 1
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,hop_count,current_hop,hop_percentage,waiting_time,pkt_count,pkt_max,target
0,11,2,4,0,0,3,2,8,0,0,23,7,0,4,1,0.250000,8,6,6,1
1,83,4,2,3,0,0,4,16,18,2,0,0,0,2,1,0.500000,9,5,6,1
2,84,4,2,3,1,1,4,16,18,2,0,0,0,2,1,0.500000,10,4,6,1
3,85,4,2,3,2,1,4,16,18,2,0,0,0,2,1,0.500000,11,3,6,1
4,86,4,2,3,3,1,4,16,18,2,0,0,0,2,1,0.500000,12,2,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50096,3251158,2,4,4,1,1,2,8,0,0,22,6,10024,3,1,0.333333,15,5,12,1
50097,3251165,2,4,4,2,1,2,8,0,0,22,6,10024,3,1,0.333333,22,4,12,1
50098,3251172,2,4,4,3,1,2,8,0,0,22,6,10024,3,1,0.333333,29,3,12,1
50099,3251179,2,4,4,4,2,2,8,0,0,22,6,10024,3,1,0.333333,36,2,12,1
50100,3251180,2,4,0,0,3,2,9,0,0,22,6,10025,3,1,0.333333,36,1,12,1

In [60]:
df.to_csv('wat-r1-good.csv',index=False)